<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GbayApiWebApplicationV2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script>
        var jwt = sessionStorage.getItem('jwt');
        if (jwt != null && jwt != " ") {
            var requestInfo = { 'method': 'GET', headers: { 'Authorization': 'bearer ' + jwt }, credentials: 'same-origin' };
            fetch('/api/AuthorizeCheck', requestInfo)
                .then(response => {
                    if (response.ok) {
                        document.getElementById('LoginNavLink').classList.add('d-none');
                        document.getElementById('RegisterNavLink').classList.add('d-none');
                        document.getElementById('MyAccountNavLink').classList.remove('d-none');
                        document.getElementById('LogoutNavLink').classList.remove('d-none');
                        document.getElementById('WelcomeTitle').innerText = "Welcome, you are logged in now";
                    }
                });
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GbayApiWebApplicationV2</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ml-0">
                        <li class="nav-item" id="LoginNavLink">
                            <a class="nav-link text-dark" data-toggle="modal" data-target="#LoginModal" style="cursor:pointer;">
                                Login
                            </a>
                        </li>
                        <li class="nav-item" id="RegisterNavLink">
                            <a class="nav-link text-dark" data-toggle="modal" data-target="#RegisterModal" style="cursor:pointer;">
                                Register
                            </a>
                        </li>
                        <li class="nav-item d-none" id="MyAccountNavLink">
                            <a class="nav-link text-dark" data-toggle="modal" data-target="#LogoutModal" style="cursor:pointer;">
                                My Account
                            </a>
                        </li>
                        <li class="nav-item d-none" id="LogoutNavLink">
                            <a class="nav-link text-dark" data-toggle="modal" data-target="#LogoutModal" style="cursor:pointer;">
                                Logout
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1 ml-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - GbayApiWebApplicationV2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!--Login Modal-->
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span class="text-danger" id="loginStatus"></span>
                    <div id="loginUsernameEmailContainer">
                        <div class="form-group">
                            <label for="username">Username: </label>
                            <input type="text" class="form-control" placeholder="Enter your Username" id="username" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <input type="email" class="form-control" placeholder="Enter your Email" id="email" />
                        </div>
                    </div>
                    <div class="d-none" id="loginSecondStepFormGroup">
                        <div class="form-group">
                            <label for="SecurityQuestion1">What is your childhood nickname:</label>
                            <input type="text" class="form-control" placeholder="Security Question 1" id="SecurityQuestion1" />
                        </div>
                        <div class="form-group">
                            <label for="SecurityQuestion2">What is the town you were born in:</label>
                            <input type="text" class="form-control" placeholder="Security Question 2" id="SecurityQuestion2" />
                        </div>
                    </div>

                    <div class="d-none" id="loginSetupSecondStepFormGroup">
                        <h4>Setup Security Questions</h4>
                        <div class="form-group">
                            <label for="SecurityQuestion1">What is your childhood nickname:</label>
                            <input type="text" class="form-control" placeholder="Security Question 1" id="SetupSecurityQuestion1" />
                        </div>
                        <div class="form-group">
                            <label for="SecurityQuestion2">What is the town you were born in:</label>
                            <input type="text" class="form-control" placeholder="Security Question 2" id="SetupSecurityQuestion2" />
                        </div>
                    </div>
                    <div class="d-none" id="LoginPasswordFormGroup">
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" placeholder="Enter your Password" id="passwordentry" />
                        </div>
                        <a id="GoToForgotPasword" style="text-decoration:underline; color:blue; cursor:pointer;">Forgot Password?</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalCancel">Cancel</button>
                    <button type="button" class="btn btn-secondary d-none" id="modalBack">Back</button>
                    <button class="btn-primary btn" id="loginNextStep1" type="submit">Next</button>
                    <button class="d-none btn-primary btn" id="confirmTwoFactorButton" type="submit">Next</button>
                    <button class="d-none btn-primary btn" id="SetupSecondStep" type="submit">Submit</button>
                    <button class="d-none btn-primary btn" id="PasswordSubmitButton" type="submit">Submit</button>
                    <button type="button" class="btn btn-secondary d-none" data-dismiss="modal" id="modalClose">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Forgot Password Modal-->
    <div class="modal fade" id="ForgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="ForgotPasswordModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="" id="ForgotPasswordFormGroup">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" placeholder="Enter your Email" id="ForgotPasswordEmail" />
                        </div>
                    </div>
                    <div class="d-none" id="ForgotPasswordOk">
                        <h4>Suscess. You will recieve an email shortly with a link to reset your password</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="ForgotPasswordCancel">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="ForgotPasswordSubmit">Submit</button>
                    <button type="button" class="btn btn-secondary d-none" data-dismiss="modal" id="ForgotPaswordModalClose">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <!--Reset Password Modal-->
    <div class="modal fade" id="ResetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="ResetPasswordModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="ResetPasswordSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!--Logout Modal-->
    <div class="modal fade" id="LogoutModal" tabindex="-1" role="dialog" aria-labelledby="LogoutModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to logout?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalCancel">Cancel</button>
                    <button type="button" class="btn btn-danger" id="LogoutButton">Logout</button>
                </div>
            </div>
        </div>
    </div>

    <!--Register Modal-->
    <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span class="text-danger" id="RegisterStatus"></span>
                    <div id="RegisterFormGroup">
                        <div class="form-group">
                            <label for="username">Username: </label>
                            <input type="text" class="form-control" placeholder="Enter your Username" id="CreateUsername" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <input type="email" class="form-control" placeholder="Enter your Email" id="CreateEmail" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password: </label>
                            <input type="password" class="form-control" placeholder="Enter your Password" id="CreatePassword" />
                            <small>
                                Your password must contain:
                                <br />- 8 digits
                                <br />- At least 1 letter
                                <br />- At least 1 number
                                <br />- At least 1 special character
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="confirmpasssword">Confirm Password: </label>
                            <input type="password" class="form-control" placeholder="Confirm your Password" id="CreateConfirmPassword" />
                        </div>
                    </div>
                    <div class="d-none" id="RegisterEmailConfirmation">
                        <h5>Thank you for registering. Before you can login, please confirm your email by clicking on the link that was sent to you via email</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalCancelRegistration">Cancel</button>
                    <button type="button" class="btn btn-primary" id="RegisterSubmit">Register</button>
                    <button type="button" class="btn btn-secondary d-none" data-dismiss="modal" id="modalCloseRegistration">Close</button>
                </div>
            </div>
        </div>
    </div>
     

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
